 <div class="workout-card" >
    <div class="card-header">
      <div class="header-content">
        <div class="name-section">
          <img src="/assets/workout/dumbell.png" alt="Dumbbell" class="dumbbell-icon"/>
          <h2 class="workout-name">{{ workout.name }}</h2>
        </div>
        <span class="workout-date">{{ workout.date | date: 'short' }}</span>
      </div>
    </div>
    
    <div class="card-body">
      @if(workout.note) {
        <p class="workout-note">{{ workout.note }}</p>
      }
      <button class="view-workouts-button" [routerLink]="['/workouts', workout.work_id]">Details</button>
    </div>
  </div>
