.set-card {
    position: relative;
    min-height: 126px;
    width: 100%;
    max-width: 500px;
    background: #2B2D42;
    border-radius: 17px;
    color: #F1F1F2;
    padding: 16px;
}

.card-header {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F1F1F2;
    margin-bottom: 8px;
}

.card-body {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #F1F1F2;
}
.set-details {
    margin: 0;
}

