.dashboard-container {
  padding: 2rem;
  max-width: 1200px;
  position: relative;
}

.welcome-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 1.5rem;
}
.add-workout-button {
  background: #C38DFF;
  color: #2B2D42;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  position: absolute;
  right: 60px;
  top: 50%;
  width: 326px;
  height: 93px;
  font-size: 24px;
  transform: translateY(-50%);
}